#mainContainer{

	margin-left: 0;
}

#peopleInput{
	width:20%;
	text-align: left;
	margin-left: 10%;
}
.subHeading{
	font-size:20px;
}

#View2 p{
	font-size: 16px;
	
}

#confirmButton{
	margin-left:15%;
	width: 70%;
}

.left_align_par{
	text-align: left;
	
	
}


.right_align_par{
	text-align: right;

	
}

.middle_align_par{
	text-align:center;
	
}

#grey_row_view2{
	border-top:2px solid black;
	border-bottom:2px solid black;
	background-color: grey;
}

#view3_top_bar{
	background-color: yellow;
	border-bottom:2px solid black;
}

.dropdown-menu{
	position:relative;

}

#view3_dropdown_items{
	width: 100%;
}

#View3 .bottom_row{
	margin-left:5%;
	margin-right:5%;
	padding-top:10px;
	padding-bottom:10px;
}

#View3 .top_row{
	margin-left:5%;
	margin-right:5%;
	padding-top:10px;
	padding-bottom:0px;
	border-bottom:1px solid black;
}
#View3{
	border-left:2px solid black;
	height: 100vh;
}

.view3_dish_obj{
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	border:1px solid black;
}

.no_border{
	border:none;
}

.dish_img{
	width:100%;
}

#view3_dish_row{

	margin-top:50px;
}