
#partyPic {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  background-image: url(images/party.jpg);
  background-size:contain;
  z-index: -1;


}



#rubrik {
	text-align: left;
	background-color:#ffe066;
	border: 1px solid black;
	color: ;
	opacity: 0.8;
	padding-left:5vw;
}

#rubrik h1{
	float:left;
	padding-top:25px;
	padding-bottom:25px;
}

#sub_heading_top_bar{
	
	margin-left:0px;
}

@media (min-width: 750px) {
  #sub_heading_top_bar{
  	position: relative;
	top:40px;
	
  }
}

/*screen 1*/
.box {
	
	position: absolute;
	left:0px;
	right:0px;
	top:250px;
    margin-left: 30px;
    width: 600px;
    height: 350px;
    opacity: 0.8;
    background-color: #FFEBCD;
    border: solid 1px silver;
    box-shadow: 0px 3px 5px 1px silver;
    
}

hr {
    height: 0px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;

}
.inside {
	padding-right: 10px;
    padding-left: 20px;
       
}

.createdinner {
	width: 40%;
	float:left;
	text-align: left;
	padding-top: 20px;
}
#goToScreen2{
	background-color:#EB963B;
	border: solid 2px black;
	color:#737778;
	font-weight: bold;

}



/*screen 2*/
/*view2*/
#View2{
	
}

#peopleInput{
	width:25%;
	text-align: left;
	margin-left: 10%;
}

#view2_heading{
	padding-left: 20px;
	font-size:20px;

}

#View2 p{
	font-size: 16px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top:10px;
	margin-bottom:10px;
	
}


#view2_border_element{
	border-top:1px solid black;
	width: 80%;
	margin-bottom:0px;
	margin-top:0px;
	margin-left:10%;
	
}
#confirmButton{
	background-color:#EB963B;
	border: solid 1px silver;
    box-shadow: 5px 5px 5px silver;
	color:#737778;
	font-weight: bold;
	margin-left:15%;
	width: 70%;
}

@media (max-width: 750px) {
  #confirmButton{
  	margin-left:0%;
  	width: 100%;
  }
}

.left_align_par{
	text-align: left;	
}

.right_align_par{
	text-align: right;	
}

.middle_align_par{
	text-align:center;
}

.orange_paragraph_view2{
	color: #EB963B;
}

#grey_row_view2{
	border-top:1px solid black;
	border-bottom:1px solid black;
	background-color: #737778;
}

/*view3 */
#Search{
	border-left:1px solid silver;
}
#view3_top_bar{
	background-color: #FFEBCD;
	border-bottom:1px solid silver;
}

.dropdown-menu{
	position:relative;

}

#view3_topBar_heading{
	padding-left:0;
	margin-bottom:0;
	font-size: 20px;
}

#view3_dropdown_items{
	width: 100%;
}


#view3_dropdown_items{
	margin-top:8px;
}

#view3_select_dish_row{
	margin-left:5%;
	margin-right:5%;
	padding-top:10px;
	padding-bottom:0px;
	border-bottom:1px solid silver;
}
#view3_search_row{
	margin-left:5%;
	margin-right:5%;
	padding-top:10px;
	padding-bottom:20px;
}

#view3_search_button{
	border: solid 1px silver;
    box-shadow: 5px 5px 5px silver;
}


.view3_dish_obj{
	margin-left:auto;
	margin-right:auto;
	border:1px solid silver;
}

.view3_dish_info{
	margin-right: auto;
	margin-left:auto;
	border:none;
}

.view3_dish_name{
	text-align: center;
	padding-top:7px;
	padding-bottom:7px;
	font-weight: bold;
}

.view3_dish_img{
	width:100%;
}


#view3_dish_row{
	margin-top:50px;
}



/*screen3*/
/*view4*/
#View4{
	border-top:1px solid silver;
}
#view4_description_column{
	padding-left:40px;
	padding-right:40px;
}

#view4_dish_img{
	width:100%;
}
#back_to_select_dish_button{
	background-color:#EB963B;
	border: solid 1px black;
    box-shadow: 5px 5px 5px black;
	font-weight: bold;
	width: 50%;
}

@media (max-width: 750px) {
	#back_to_select_dish_button{
		width:100%;
	}
}

#view4_recipe_column{
	padding:20px;
	background-color:#FFEBCD;
	border:1px solid silver;

}

#view4_recipe_middle_box{
	border-top:1px solid silver;
	border-bottom:1px solid silver;
	padding-top:20px;
	padding-bottom:20px;

}

.view4_ingredient_row{
	padding:10px;
}

#view4_confirm_dish_row{
	margin-top:30px;
}

#view4_confirm_dish_button{

	background-color:#EB963B;
	border: solid 1px black;
    box-shadow: 5px 5px 5px black;
	font-weight: bold;
	width: 50%;
}

@media (max-width: 750px) {
	#view4_confirm_dish_button{
		width:100%;
	}
}


/*screen 4 - view 5*/
#view56_subHeading {
	background-color: #FFEBCD;
	border: 1px solid black;
	padding:20px;


}

#view56_subHeading h2{
	margin-top:0;
	margin-bottom:0;
	float:left;
	

}

@media (max-width: 750px) {
  #view56_subHeading h2{
  	width:100%;
  }
}
#confirmButtonFix{


	background-color:#EB963B;
	border: solid 2px black;
	

}

@media (max-width: 750px) {
  #confirmButtonFix{
  	width:100%;
  }
}
#view5_centerPics{
	padding-right:50px;
	padding-left:50px;
	margin-top:40px;
	border-right:1px solid black;
	left: 25%;
	margin-left: auto;
	margin-right: auto;

}
@media (max-width: 750px) {
  #view5_centerPics{
  	padding-right:0;
  	padding-left:0;
  }
}
#test2{
	float:right;
	right:15%;
	margin-top:40px;
	


}
.view5_price{
	
	text-align: right;
	
	
}

#view5_hr{
	width:80%;
}

#view5_button_row{
	text-align:center;
}

#buttonPrint{
	
	background-color:#EB963B;
	border: solid 1px black;
    box-shadow: 5px 5px 5px black;
	font-weight: bold;
}

@media (min-width: 750px) {
  #buttonPrint{
  	width:25%;
  	left:37%;
  }
}

@media (max-width: 750px) {
  #buttonPrint{
  	width:50%;
  	left:25%;
  }
}
.view6_dishname{
	padding: 0;
	margin-top: 0px;
	font-size: 28px;

}

#view6_dishpreparation{
	padding: 0;
	margin-top: 0px;
	font-size: 18px;
}

.view6_dishrow{
	margin-top: 30px;

}
