<!-- TODO in Lab 5: Display the items on the menu with cost for each -->
  <div id="View2_after" class="col-xs-12 col-sm-2">
          <div class="row">
            <h2 id="view2_heading"class="subHeading col-xs-12"> My Dinner </h2>
          </div>
          <div class="row">
            <p class="col-xs-12 col-sm-3 basic_view2_paragraph left_align_par">People</p>
            <input class="col-xs-12 col-sm-9" id="peopleInput" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)" type="number" ></input>
          </div>
          <div id="grey_row_view2" class="row">
            <p class="col-xs-6 left_align_par">Dish Name</p>
            <p class="col-xs-6 right_align_par">Cost</p>    
          </div>
          <div class="row"><!-- update maträtt totalcost --> 
            <div class="col-xs-12" id="view2after">
              <div ng-repeat="dish in menu">
                <div class="row">
                  <div class="col-xs-6 left_align_par orange_paragraph_view2 view2_menuItem" id="view2after_name">
                    {{dish.Title}}
                  </div>
                  <div class="col-xs-6 right_align_par orange_paragraph_view2" id="view2after_pending_cost">{{getNumberOfGuests()*getDishPrice(dish)}}
                  <div class="clearfix">
                  </div>
                </div>
              </div>
            
    <!--p class="col-xs-6 left_align_par orange_paragraph_view2" id="view2after_name"></p>
    <p class="col-xs-6 right_align_par orange_paragraph_view2" id="view2after_pending_cost"></p-->
            </div>
          </div>

          <div class="row"> 
            <p class="col-xs-6 left_align_par orange_paragraph_view2" >Pending</p>
            <p id="view2_specific_dish" class="col-xs-6 right_align_par orange_paragraph_view2"> {{getDishPrice($scope.specificDish)}}</p>
          </div>
          <div id="view2_border_element"class="row">
          </div>
          <div class="row">
            <p id="view2after_sek_paragraph"class="col-xs-12 right_align_par orange_paragraph_view2">SEK {{getTotalMenuPrice()}}</p>
          </div>
          <div class="row">
         	 <a href="#/overview" class="col-xs-12 btn btn-default" id="confirmButton">Confirm Dinner</a>
          </div>
            Total number of guest: {{getNumberOfGuests()}}
        </div>


            

<!-- Displaying number of guests both in input box and here is redundant. It is here only for the example
purpose so you can see how some information from the model can be retrieved. In Lab 5 you will replace 
this with Total price of the menu -->
