<!-- vi måste fixa detta själva-->
<div class="row">
            <div class="col-xs-12" id="view56_subHeading">
              <h2 class="col-xs-12 col-sm-6"> My Dinner: <b id="view5_amount_people"></b> people </h2>
              <a href="#/search" class="col-xs-12 col-sm-6 btn btn-default" id="confirmButtonFix">Go back and edit dinner</a>
            </div>
          </div>
            <div class="row">
            <div class="col-xs-6" id="view5_centerPics">
            
            </div>
            <div class="col-xs-1" id="test2">
              <p> Total:</p>
              <p id="total_price">  </p>

            </div>
          </div>
          <div class="row">
            <hr id="view5_hr">
          </div>
      <a href="#/preparation" class="col-xs-12 col-sm-6 btn btn-default" id="buttonPrint">Print Full Recipe</a>

</div>