<!-- vi måste fixa detta själva-->
<ng-include ng-controller="DinnerCtrl"></ng-include>
  <div id="View5">
    <div class="row">
      <div class="col-xs-12" id="view56_subHeading">
        <h2 class="col-xs-12 col-sm-6"> My Dinner: <b id="view5_amount_people"> {{getNumberOfGuests()}} </b> people </h2>
        <a href="#/search" class="col-xs-12 col-sm-6 btn btn-default" id="goBack">Go back and edit dinner</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6" id="view5_centerPics">
        <div ng-repeat="dish in menu">
      
          <div class="col-xs-12 col-sm-4 _dish_col">
            <div class="row view3_dish_obj">
              <img class="view3_dish_img" ng-src="{{dish.ImageURL}}"/>
            </div>
            <div class="row view3_dish_obj view3_dish_name" id="view5_dish">
              {{dish.Title}} 
            </div>

          </div>
        </div>
      </div>



            <div class="col-xs-1" id="test2">
              <p> Total:</p>
              <p id="total_price"> {{getTotalMenuPrice()}}  </p>
            </div>
          </div>
          <div class="row">
            <hr id="view5_hr">
          </div>
      <a href="#/preparation" class="col-xs-12 col-sm-6 btn btn-default" id="buttonPrint">Print Full Recipe</a>

</div>
