<!-- vi måste fixa detta själva-->
  <div class="row">
            <div class="col-xs-12" id="view56_subHeading">
              <h2 class="col-xs-12 col-sm-6"> My Dinner: <b id="view6_amount_people"></b> people </h2>
              <a href="#/search" class="col-xs-12 col-sm-6 btn btn-default" id="confirmButtonFix">Go back and edit dinner</a>
            </div>
          </div>
          <div id="view6_dynamic">
          Här ska allt bajs komma in
          <!--alla rätter i menyn skrivs här!-->
 </div>