<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>
 <div id="Search"  class="col-xs-12 col-sm-10">
          <div class="row">
            <div id="view3_top_bar" class="col-xs-12">
              <div id="view3_select_dish_row"class="row">
                <h2 id="view3_topBar_heading"class="subHeading col-xs-12"> SELECT DISH</h2>
              </div>
              <div id="view3_search_row" class="row bottom_row">
                  <div class="col-sm-4 col-sm-12">
                    <div class="input-group">
                          <span class="input-group-btn">
                            <input id ="view3_search_text_field" class="form-control" placeholder="Enter key words"ng-model="query"/>
                              <button id="view3_search_button"class="btn btn-default" ng-click="search(query)">Search</button>
                              {{status}}
                              
                            </span>
                           <div id="spinnerContainer" ></div>

                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
              </div><!-- /.row -->
          </div>
        </div>  
          <div id="view3_dish_row"class="row">
        
              <div ng-repeat="dish in dishes">
                <div class="col-xs-12 col-sm-3 view3_dish_col">
                  <div class="row view3_dish_obj">
                    <img class="view3_dish_img" ng-src="{{dish.ImageURL}}"/>
                  </div>
                  <div class="row view3_dish_obj view3_dish_name">
                  {{dish.Title}} <br>
                  <a ng-href="#/dish/{{dish.RecipeID}}">View more</a> <br>
                    {{dish.Category}}, {{dish.Subcategory}}
                </div>
              </div>
                <div ng-if="$index % 4 == 3" class="row">
                </div>
              </div>
                    
          </div>  


        </div>
        <!-- Slut på View3-->
<!-- TODO in Lab 5: Display the input box for search (you can ignore the type dropdown since BigOven does
not support it in free version) and list all the dishes that match the search. -->